* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
background-color: #eee;
color: #434344;
font-family: "Montserrat", sans-serif;
font-weight: 400;
}

p {
font-size: 1.5rem;
}

.container {
max-width: 1250px;
margin: 0 auto;
padding: 0 60px;
display: grid;
grid-template-columns: 0.4fr 0.3fr 0.3fr;
grid-column-gap: 10px;
grid-row-gap: 15px;
background-color: #fff;
}

.header {
grid-column: 1 / 4;
grid-row: 1 / 2;
color: #9f9c9c;
text-transform: uppercase;
border-bottom: 2px solid #b0e0ea;
padding: 20px 0;
display: flex;
justify-content: space-between;
align-items: center;
}


.header nav ul {
  display: flex;
/*     align-items: baseline; */
  list-style-type: none;
}

.header nav li {
  margin-right: 15px;
}

.header button {
  border: none;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #51bb7b;
}

.sidebar {
grid-column: 1 / 2;
grid-row: 3 / 5;
padding: 20px;
border-top: 3px solid black;
background-color: #f9f9f9;
}

.sidebar h3 {
margin-top: .75rem;
}

.sidebar ul {
list-style-type: none;
margin-top: 1rem;
font-size: .75rem;
}

.sidebar ul > li {
  padding: .25rem 0;
}

.sidebar img {
max-width: 100%;
}

.main {
grid-column: 2 / 4;
grid-row: 2 / 4;
/*   min-height: 500px; */
}

.main h2 {
  font-size: 32px;
  margin-bottom: 1rem;
  color:black;
}

.main p {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.main img {
  width: 100%;
}

.extra {
grid-column: 2 / 4;
grid-row: 4 / 5;
padding: 1rem;
display: flex;
flex-wrap: wrap;
border: 1px solid #ececec;
justify-content: space-between;
}

.extra h3 {
font-weight: 500;
margin-bottom: .5rem;
flex: 1 0 auto;
}

.extra p {
font-size: .75rem;
margin-bottom: .75rem;
}

.extra button {
background-color: white;
border: 2px solid #50c6db;
color: #50c6db;
padding: .5rem;
}
.content-block-info {
 flex: 0 1 calc(33% - .5rem);
}

.related-images {
grid-column: 1 / 3;
grid-row: 5 / 6;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 1rem;
}

.related-images .icon {
  background-color: white;
  flex: 1 1 150px;
}

.related-images .icon img {
max-width: 100%;
}

.related-posts {
grid-column: 3 / 4;
grid-row: 5 / 6;
padding: 0 2rem;
}

.related-posts h4 {
margin-bottom: .5rem;
padding-bottom: .5rem;
font-size: 1.5rem;
border-bottom: 1px solid #ececec;
}

.related-posts ul {
margin-left: 1.5rem;
}

footer {
grid-column: 1 / 4;
grid-row: 6 / 7;
color: #fff;
text-align: center;
padding: 20px 0;
background-color: #9f9c9c;
}  

footer p {
  color: #434344;
  font-size: 12px;
  padding: 10px;
}

  
  


/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
background-color: #eee;
color: #434344;
font-family: "Montserrat", sans-serif;
font-weight: 400;
}

p {
font-size: 1.5rem;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: #fff;
}
/*    HEADER *

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  color: #9f9c9c;
  text-transform: uppercase;
  border-bottom: 2px solid #b0e0ea;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header nav ul {
      display: flex;
     align-items: baseline; 
      list-style-type: none;
  }
  
  .header nav {
      margin-right: 15px;
  }

/*   SIDEBAR   *

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    padding: 20px;
    border-top: 3px solid #693f7e;
    background-color: #f9f9f9;
  }
  .sidebar h3 {
    margin-top: .75rem;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin-top: 1rem;
    font-size: .75rem;
  }
  
  .sidebar ul > li {
      padding: .25rem 0;
  }
  
  .sidebar img {
    max-width: 100%;
  }
/*  CONTAINER   */

    
    /*   MAIN   *
    main {
      grid-column: 2 / 4;
      grid-row: 2 / 4;
    /*   min-height: 500px; *
    }
    
    .main h2 {
        font-size: 32px;
        margin-bottom: 1rem;
        color: #50c6db;
    }
    
    .main p {
        font-size: 1rem;
        margin-bottom: .75rem;
    }
    
    footer {
      grid-column: 1 / 4;
      grid-row: 6 / 7;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      background-color: #9f9c9c;
    }  
    
    footer p {
        color: #434344;
        font-size: 12px;
        padding: 10px;
    }   
  

  