
  /*  BODY  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
background-color: rgb(88, 103, 240);
color: black;
font-family: "Montserrat", sans-serif;
font-weight: 400;
text-align: left;
}



.container {
max-width: 1250px;
margin: 0 auto;
padding: 25px 60px;
display: grid;
grid-template-columns: 0.4fr 0.3fr 0.3fr;
grid-column-gap: 10px;
grid-row-gap: 15px;
background-color: #fff;
}

.header {
grid-column: 1 / 4;
grid-row: 1 / 2;
color: #9f9c9c;
text-transform: uppercase;
border-bottom: 2px solid #b0e0ea;
padding:25px 25px 25px 25px;
display: flex;
justify-content: space-between; 
align-items: center;
}
.nav {
  text-align: right;
}


.sidebar {
grid-column: 1 ;
grid-row: 2 / 3;
padding: 20px;
border-top: 3px solid #693f7e;
background-color: #f9f9f9;
}

.sidebar h3 {
margin-top: .75rem;
}

.sidebar ul {
list-style-type: none;
margin-top: 1rem;
font-size: .75rem;
}

.sidebar ul > li {
  padding: .25rem 0;
}

.sidebar img {
max-width: 100%;
}

.about {
  grid-column: 1 ;
  grid-row: 3 /5;

}
.about h1 {
  padding: 15px;
  font-size: 22px;
}
.content {
  grid-column: 2 / 4;
  grid-row:  2 / 5;
  grid-gap: 15px;
  float: right;
  
}
.content h1 {
  padding: 15px;
  text-align: justify;
  font-size: 36px;
}
.content p {
  padding: 25px;
  font-size: 22px;
  
}
.content button {
  background-color: white;
  border: 2px solid #50c6db;
  color: #50c6db;
  padding: .5rem;
  margin-left: 25px;
}
 .image {
  padding: 25px;
  float: left;
  margin: 5px;
  cursor:pointer;
}

.subscribe {
  grid-column: 1 /4;
  grid-row: 5 /6;
  padding: 75px 150px 25px 150px;
  margin-left: 87px;
  margin-right: 87px;
  background-color:lightgrey;

}
.subscribe h1 {
  padding-bottom: 15px;
  text-align: center;
}
.subscribe form {
  text-align: center;
  padding-bottom: 75px;
  background-color: lightgrey;
}
footer {
grid-column: 1 / 4;
grid-row: 6 / 7;
color: #fff;
text-align: center;
padding: 20px 0;
background-color: #9f9c9c;
}  

footer p {
  color: #434344;
  font-size: 12px;
  padding: 10px;
}

.main {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  padding: 25px 25px 25px 25px;
  margin-left: 87px;
  margin-right: 87px;
/*   min-height: 500px; */
  background-color: white;
}

.main h1 {
    font-size: 32px;
    margin-bottom: 1rem;
    padding-left: 35px;
}
.main h2 {
  font-size: 38px;
  margin-bottom: 1rem;
  padding-left: 35px;
  text-align: center;
}
.main h3 {
  padding-left: 35px;
}
.main p {
    font-size: 20px;
    margin-bottom: .75rem;
    padding: 35px 35px 35px 35px;
}

.main img {
    width: 100%;
}

.previous {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 87px;
  margin-right: 87px;
  justify-content: space-between;
  background-color: white;
}

.previous h3 {
  font-weight: bold;
  margin-bottom: .5rem;
  flex: 1 0 auto;
  font-size: 24px;
  
}

.previous p {
  font-size: 22px;
  margin-bottom: .75rem;
}

.previous button {
  background-color: white;
  border: 2px solid #50c6db;
  color: #50c6db;
  padding: .5rem;
}
.information {
   flex: 0 1 calc(33% - .5rem);
   padding-bottom: 25px;
} 
.image-2 {
height: 50px;
width: 50px;
}
  
section {
  padding: 25px;
}
.logo {
  
}